.stepsContainer {
  margin-bottom: 20px;
}

.sectionTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Signika, sans-serif;
}

.stepContainer {
  display: flex;
  border-bottom: 1px dashed var(--light-blue);

  &:first-child {
    border-top: 1px dashed var(--light-blue);
  }
}

.stepNumber {
  align-self: center;
  flex: 0 0 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--light-blue);
  color: white;
  border-radius: 50%;
  margin-right: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  padding: 15px 10px;
}

.headerStepText {
  color: var(--purple);
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}

.sectionHeader {
  font-weight: bold;
  color: var(--purple);
}

.superscript {
  font-size: 0.5em;
  font-weight: 600;
  vertical-align: super;
  color: var(--purple);
}
